body {
  color: #763d3d;
  margin: 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #EEE3CB;
}

h1 {
  color: #3C2A21;
  font-size: 7rem;
  margin: 50px auto 0 auto;
  font-family: 'Architects Daughter', cursive;
}

h2 {
  color: #3C2A21;
  font-family: 'Chonburi', cursive;
  font-size: 2rem;
  font-weight:bold;
  padding-bottom: 10px;
}

h3 {
  color: #3C2A21;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #b6c1c1 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #437162;
}

.top-container {
  background-color: #967E76;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.middle-container {
  margin: 100px 0;
  background-color: #EEE3CB;
}

.bottom-container {
  background-color: #8b817b;
  padding: 50px 0 20px;
}

.footer-link{
  color:#EEE3CB;
}

.skill-row {
  width: 60%;
  margin: 100px auto 150px auto;
  text-align: left;
}

.skills {
  width: 55%;
  margin: 100px auto 200px auto;
  text-align: left;
  font-size: x-large;
}

.certificate {
  width: 55%;
  margin: 100px auto 225px auto;
  text-align: left;
  font-size: x-large;
}

.intro {
  width: 60%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 1.25rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.graduation-img {
  width: 16%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 16%;
  float: right;
  margin-left: 30px;
}

.skills-img {
  width: 16%;
  float: right;
  margin-left: 30px;
}

.certificate-img {
  width: 16%;
  float: right;
  margin-left: 30px;
}

.skill-1{
  display: inline-block;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
